.header{
    /* Ai Buddy */

    position: relative;
    top: 40px;
    padding: 82px;
    /* Ai Buddy */
    width: 100%;
    height: 119px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 0.02em;
    padding-bottom: 120px;
}

.sign-btn {
    /* Button

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;

    position: relative;
    width: 109px;
    height: 42px;

    /* M3/sys/light/primary */
    /*border: 1px solid #000000;*/
    border-radius: 100px;


    background: #090A4A;

    color: white;
}

.about{

    /* Subheading */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;

    color: #000000;
}

.info{

    /* Body Base */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #000000;
}

.start{
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;

    width: 519px;
    height: 81px;

    background: #FCB834;
    border-radius: 8px;
    color: white;
}

.signup_header{

    /* M3/display/medium */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 52px;
    /* or 116% */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #090A4A;
}

.signup_text{

    font-family: 'Roboto';
    font-weight: lighter;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}

.Input{
    /* Search */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;

    width: 645px;
    height: 62px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 9999px;
}

.next-btn{
    /* Button

    /* Auto layout */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 8px;

    width: 188px;
    height: 69px;

    background: #090A4A;
    border: 1px solid #000000;
    border-radius: 100px;
    color: white;
}

.Header{
    /* Frame 1 */
    box-sizing: border-box;
    width: 100%;
    height: 130px;
    margin-top: 21px;
    padding: 0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Card{
    /* Product Info Card */
    cursor: pointer;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 16px;

    width: 240px;
    height: 375px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.story{
    /* Once upon a time, in a small village, lived a kind little boy named Omar. He always helped others and shared what he had One day, Omar saw an old man struggling to carry a heavy bag. Without hesitation, he ran to help him. */

    width: 60%;
    height: 355px;

    /* M3/headline/small */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.success{
    /* You are amazing! 🌟 You got most of the answers right! 💡 Keep trying, you are smart and hardworking. Next time, you’ll be the star of the class! ⭐🎉 */

    width: 570px;
    /* M3/title/large */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* or 127% */
    text-align: center;

    color: #000000;
}